extends ../layout/index

block Content
    .py-10
        h1.text-center.text-4xl.font-extrabold.text-zinc-400 Urban
            span.font-normal Prop
        h2.text-center.text-2xl.font-extrabold.mt-10= pageTitle

        if errors
            div(class="max-w-md mx-auto my-10")
                ul.list-disc.bg-white.border-2.border-rose-400.rounded.px-8.py-2
                    each error in errors 
                        li.text-slate-500= error.msg

        .mt-8.mx-auto.max-w-md
            .bg-white.py-8.px-4.shadow
                form(action="/auth/recuperar-password" method="POST" noValidate).space-y-5
                    
                    input(type="hidden", name="_csrf" value= nonce)
                    div
                        label.block.text-sm.uppercase.text-gray-600.mb-2.font-bold(for="email") Email de registro
                        input#email.w-full.px-3.py-2.border.border-gray-300.placeholder-gray-400.rounded-md(placeholder="Ingresa tu correo" type="email" name="email")
                  
                    input(class="bg-sky-600 w-full rounded-md py-2 px-1 text-xl text-white uppercase cursor-pointer hover:bg-sky-700 hover:translate-y-1 transition-all" type="submit" value="Enviar solicitud")
                    div.flex.justify-evenly.py-2.font-semibold
                        a.text-gray-500.text-xs.text-center(href="/auth/login") ¿ Recordaste tu contraseña ?<br> Inicia sesión 