extends ../layout/admin

block styles 
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

block before_body 
    meta(name="csrf-token" content= csrfToken)

block Content
    .py-10
        h1.text-center.text-4xl.font-extrabold.text-zinc-400 Urban
            span.font-normal Prop
        h2.text-center.text-2xl.font-extrabold.mt-10= pageTitle

    .container.max-w-4xl.bg-white.shadow.mx-auto(class="py-5 px-2 sm:px-10")
        form(class="dropzone border-dashed border-2 rounded w-full min:h-96 h-auto flex-col justify-center items-center text-slate-300 text-3xl" method="POST" action=`/property/add-images/${property.id}`  id="propImages")

        button( id="dzSubmit" class="w-full mt-5 py-3 bg-sky-600 px-2 rounded uppercase text-white cursor-pointer hover:bg-sky-700 text-xl" type="button") Crear Publicación


block scripts 
    script(src="/js/addImages.js") 
