extends ../layout/admin

block before_body 
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css")

block Contenido
    .py-10
        h1.text-center.text-4xl.font-extrabold.text-zinc-400 Urban
            span.font-normal Prop
        h2.text-center.text-2xl.font-extrabold.mt-10= pageTitle

    .container.max-w-4xl.bg-white.shadow.mx-auto(class="py-5 px-2 sm:px-10")

        form(class="space-y-8 p-5 md:p-10" method="POST" noValidate)
            input(type="hidden" name="_csrf" value=nonce)

            input(class="w-full py-3 bg-sky-600 px-2 uppercase text-white cursor-pointer hover:bg-sky-700 text-xl" type="submit" value="Agregar imagen")


block scripts 
